<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
		
		
		{% stylesheets '@AppBundle/Resources/js/jquery_ui_plugins/jBox-master/Source/jBox.css' %}
			<link href="{{ asset_url }}" rel="stylesheet">
		{% endstylesheets %}
		
		{% stylesheets '@AppBundle/Resources/js/jquery_ui_plugins/jBox-master/Source/themes/NoticeBorder.css' %}
			<link href="{{ asset_url }}" rel="stylesheet">
		{% endstylesheets %}
		
		{% stylesheets '@AppBundle/Resources/stylesheets/base.css.twig' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		
			<link rel="stylesheet" href="http://qt21.eu/baseterm.css" />
        {% block stylesheets %}{% endblock %}
		
    </head>
    <body>
		<header class='mainHeader'>
			<div class='homeContainer'>
				<a href="{{ url('homepage') }}" class='home'>Home</a>
			</div>
			<div class='siteNameContainer'>
				<span class='siteName'>BaseTerm</span>
			</div>
			<div class='loginOptsContainer'>
			{% if app.user %}
				<a href="{{ url('logout') }}" class='logout'>Logout</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ url('manage_users') }}" class='manage_users'>Users</a>
				{% endif %}
			{% else %}
				<a href="{{ url('register') }}" class='register'>Register</a>
				<a href="{{ url('login') }}" class='login'>Login</a>
			{% endif %}
			</div>
		</header>
		{% if app.user %}
		<div class='userWelcome'>
			<p>Welcome {{app.user}}!  Your privilege level is:&nbsp;&nbsp;
			
			{%- if is_granted('ROLE_ADMIN') -%}
				Admin (View, Download, Import, Create, Add, Edit, Delete)
			{%- elseif is_granted('ROLE_STAFF') -%}
				Staff (View, Download, Import, Create, Add, Edit)
			{%- else -%}
				User (View, Download, Import)
			{%- endif -%}
			</p>
		</div>
		{% endif %}
		<div class='mainContainer'>
			{% block body %}{% endblock %}
		</div>

		{% javascripts '@AppBundle/Resources/js/jquery-2.1.4.min.js' %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		{% javascripts '@AppBundle/Resources/js/jquery_ui_plugins/jBox-master/Source/jBox.min.js' %}
			<script src="{{ asset_url }}"></script>
		{% endjavascripts %}
		
        {% block javascripts %}{% endblock %}
    </body>
</html>
