{#/*
 *  This file is part of BaseTerm.
 *  
 *  BaseTerm is an open-source and free to use terminology management system built with the primary goal of natively supporting the most popular TBX dialect for exchange, TBX-Basic
 *  
 *  Copyright © (2015-2017) BYU TRG & LTAC Global & CRITI
 *  
 *  See the LICENSE file that accompanied this source code for the full license
 *  information
 */#}
<div class='geoContainer'>
	<select id='geoContent_{{e}}_{{l}}_{{t}}'>
        {%- for key,region in regions -%}
        <option value="{{key}}" {% if geoElementValue == region %}selected{% endif %}>{{region}}</option> 
        {%- endfor -%}
	</select>
	<button type='button' id='geoBtn' onclick='saveExtRef()'></button>
	<button type='button' id='deleteGeoBtn' onclick='deleteGeoRef()'></button>
</div>
<script type='text/javascript'>

$(function(){
	//load regions

    $("#geoContent_{{e}}_{{l}}_{{t}}").on("change",function(){
        $('#{{geoElementId}}').text($(this).children("option:selected").text());
    });

	if ( $('#{{geoElementId}} option').text() == '---' )
	{
		$('#geoBtn').text('Add Region');
		$('#deleteGeoBtn').text('Cancel');
	}
	else
	{
		$('#geoBtn').text('Edit Region');
		$('#deleteGeoBtn').text('Delete');
	}
});

function saveExtRef()
{
	entries[{{e}}].languages[{{l}}].terms[{{t}}]['geo'] = $('#geoContent_{{e}}_{{l}}_{{t}}').val();
	
	$('#{{geoElementId}}').text(regionCodeValueList[$('#geoContent_{{e}}_{{l}}_{{t}}').val()]);
	setLevel('edit','tig');
	setChanged(true);
	geoSelectModal.close();
}

function deleteGeoRef()
{
	if($('#deleteGeoBtn').text() == 'Delete')
	{ 
        $('#{{geoElementId}}').text("---");
		delete entries[{{e}}].languages[{{l}}].terms[{{t}}].geo;
		setLevel('edit','tig');
		setChanged(true);
	}
	
	geoSelectModal.close();
}

</script>