{% for f in forms %}
	<tr>
	{{ form_start(f.form, {'action': path('search_termbase'), 'method': 'POST'}) }}
        <td><span class=".editable">{{f.termbase.name}}</span></td>
        <td><span class=".editable">{{f.termbase.working_language}}</span></td>
		{% if is_granted('ROLE_ADMIN') %}
			<td>
				<div>
					<button type='button' onClick='deleteTermbase("{{f.termbase.id}}");'>Delete</button>
				<div>
			</td>
		{% endif %}
		<!--<div><span>Id:</span>{{f.termbase.id}}</div>-->
		<td><button type='button' onClick='exportTermbase("{{f.termbase.id}}")'>Download</button></td>
		
		<td>{{ form_widget(f.form.save) }}</td>
		<input type='hidden' name='name' value='{{f.termbase.name}}'/>
        <input type='hidden' name='termbaseId' value='{{f.termbase.id}}'/>
	{{ form_end(f.form) }}
	</tr>
{% endfor %}