{% for f in forms %}
	<tr>
	{{ form_start(f.form, {'action': path('search_termbase'), 'method': 'POST'}) }}
		<td>{{f.termbase.name}}</td>
		<td>{{f.termbase.working_language}}</td>
		{% if is_granted('ROLE_ADMIN') %}
			<td>
				<div>
					<button type='button' onClick='deleteTermbases("{{f.termbase.id}}");'>Delete this Termbase</button>
				<div>
			</td>
		{% endif %}
		<!--<div><span>Id:</span>{{f.termbase.id}}</div>-->
		<!--<td><button type='button' onClick='exportTermbase("{{f.termbase.id}}")'>Download</button></td>-->
		
		<td>{{ form_widget(f.form.save) }}</td>
		<input type='hidden' name='name' value='{{f.termbase.name}}'/>
	{{ form_end(f.form) }}
	</tr>
{% endfor %}