{#/*
 *  This file is part of BaseTerm.
 *  
 *  BaseTerm is an open-source and free to use terminology management system built with the primary goal of natively supporting the most popular TBX dialect for exchange, TBX-Basic
 *  
 *  Copyright © (2016-2017) BYU TRG & LTAC Global & CRITI
 *  
 *  See the file LICENSE file that accompanied this source code for the full license
 *  information
 */#}
{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class='loginForm' action="{{ path("fos_user_security_check") }}" method="post">
	<p>Log in to your Account</p>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

	<input type="text" id="username" name="_username" class='textvalue' placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" />

	<input type="password" id="password" name="_password" class='textvalue' placeholder="{{ 'security.login.password'|trans }}" required="required" />

	<div class='rembemberMe'>
		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
		<a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
	</div>
	<input type="submit" id="_submit" name="_submit" class='submitLogin' value="{{ 'security.login.submit'|trans }}" />
</form>
{% endblock fos_user_content %}
