{#/*
 *  This file is part of BaseTerm.
 *  
 *  BaseTerm is an open-source and free to use terminology management system built with the primary goal of natively supporting the most popular TBX dialect for exchange, TBX-Basic
 *  
 *  Copyright © (2015-2017) BYU TRG & LTAC Global & CRITI
 *  
 *  See the LICENSE file that accompanied this source code for the full license
 *  information
 */#}
{% trans_default_domain 'FOSUserBundle' %}

<div class='profileFormContainer'>
{{ form_start(form, {'action': path('fos_user_profile_edit'), 'method': 'POST', 'attr': {'class':'fos_user_profile_edit'}}) }}
    {{ form_widget(form.fullusername, {'attr': {'class': 'profileInput', 'placeholder': 'Full Name'}}) }}
    {{ form_widget(form.username, {'attr': {'class': 'profileInput', 'placeholder':'Username'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'profileInput', 'placeholder':'Email Address'}}) }}
	
    {{ form_widget(form.current_password,  {'attr': {'class': 'profileInput', 'placeholder':'Password'}}) }}
    <div class='submitProfileDiv'>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
</div>
