{% extends 'modals.html.twig' %}

{% block div %}
<div class='modalDiv' id='div_{{e}}_{{l}}_{{t}}_L'>
	<!-- ************************TERM ENTRY************************* -->
	<div class='modalDivValue'>
		<span class='label label_term'>Term: </span><span class='editText value_term' id='termValue_{{e}}_{{l}}_{{t}}_L'>{{entries[e].languages[l].terms[t].term}}</span>
	</div>
	<!-- ************************TERM STATUS************************* -->
	<div class='modalDivValue'>
		<span class='label label_approval'>Approval: </span>
		<span class='editList value_approval' id='statusValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].languages[l].terms[t].status is defined -%}
			{%- if entries[e].languages[l].terms[t].status == "preferredTerm-admn-sts" -%}
				Preferred
			{%- elseif entries[e].languages[l].terms[t].status == "admittedTerm-admn-sts" -%}
				Admitted
			{%- elseif entries[e].languages[l].terms[t].status == "deprecatedTerm-admn-sts" -%}
				Deprecated
			{%- elseif entries[e].languages[l].terms[t].status == "supersededTerm-admn-sts" -%}
				Superseded
			{%- else -%}
				{{entries[e].languages[l].terms[t].status}}
			{%- endif -%}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<!-- ************************PART OF SPEECH************************* -->
	<div class='modalDivValue'>
		<span class='label label_pos'>Part of Speech: </span>
		<span class='editList value_pos' id='posValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].languages[l].terms[t].pos is defined -%}
			{%- if entries[e].languages[l].terms[t].pos == "noun" -%}
				Noun
			{%- elseif entries[e].languages[l].terms[t].pos == "verb" -%}
				Verb
			{%- elseif entries[e].languages[l].terms[t].pos == "adjective" -%}
				Adjective
			{%- elseif entries[e].languages[l].terms[t].pos == "adverb" -%}
				Adverb
			{%- elseif entries[e].languages[l].terms[t].pos == "properNoun" -%}
				Proper Noun
			{%- elseif entries[e].languages[l].terms[t].pos == "other" -%}
				Other
			{%- else -%}
				{{entries[e].languages[l].terms[t].pos}}
			{%- endif -%}	
		{%- else -%}
			Unspecified
		{%- endif -%}
		</span>
	</div>
	<!-- ************************GENDER************************* -->
	<div class='modalDivValue'>
		<span class='label label_gender'>Gender: </span>
		<span class='editList value_gender' id='genderValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].languages[l].terms[t].gender is defined -%}
			{%- if entries[e].languages[l].terms[t].gender == "masculine" -%}
				Masculine
			{%- elseif entries[e].languages[l].terms[t].gender == "feminine" -%}
				Feminine
			{%- elseif entries[e].languages[l].terms[t].gender == "neuter" -%}
				Neuter
			{%- elseif entries[e].languages[l].terms[t].gender == "other" -%}
				Other
			{%- else -%}
				{{entries[e].languages[l].terms[t].gender}}
			{%- endif -%}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<!-- ************************GEOGRAPHIC REGION************************* -->
	<div class='modalDivValue'>
		<span class='label label_geo'>Region: </span>
		<span class='editGeo value_geo' id='geoValue_{{e}}_{{l}}_{{t}}_L'></span>
	</div>
	<!-- ************************SUBJECT FIELD************************* -->
	<div class='modalDivValue'>
		<span class='label label_subject'>Subject Field: </span>
		<span class='editText value_subject' id='subjectValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].subject_field is defined -%}
			{{entries[e].subject_field}}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<!-- ************************TERM SOURCE************************* -->
	<div class='modalDivValue'>
		<span class='label label_term'>Source: </span>
		<span class='editText value_term' id='termSourceValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].languages[l].terms[t].source is defined -%}
			{{entries[e].languages[l].terms[t].source}}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<!-- ************************PROJECTS************************* -->
	<div class='modalDivValue'>
		<span class='label label_projects'>Projects: </span>
		{%- if entries[e].languages[l].terms[t].projects is defined -%}
			{%- set i = 0 -%}
			{%- for project in entries[e].languages[l].terms[t].projects -%}
				<p class='arrayFormat value_container_projects'>
					Project {{i + 1}}:
					<span class='editText value_project' id='projectValue_{{i}}'>{{project}}</span>
				</p>
				{%- set i = i + 1 -%}
			{%- endfor -%}
			{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
				<p class='arrayFormat'>
					New Project:
					<span class='editText' id='projectValue_new'>Click here to add a project.</span>
				</p>
			{% endif %}
		{%- else -%}
			{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
			<p class='arrayFormat'>
				New Project:
				<span class='editText' id='projectValue_new'>Click here to add a project.</span>
			</p>
			{% endif %}
		{%- endif -%}
	</div>
	<!-- ************************NOTES************************* -->
	<div class='modalDivValue'>
		<span class='label label_notes'>Notes: </span>
		{%- if entries[e].notes is defined -%}
			{%- set i = 0 -%}
			{%- for note in entries[e].notes -%}
				<p class='arrayFormat'>
					Note {{i + 1}}:
					<span class='editText' id='noteValue_{{i}}'>{{note}}</span>
				</p>
				{%- set i = i + 1 -%}
			{%- endfor -%}
				{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
				<p class='arrayFormat'>
					New Note:
					<span class='editText' id='noteValue_new'>Click here to add a note.</span>
				</p>
				{% endif %}
		{%- else -%}
			{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
			<p class='arrayFormat'>
				New Note:
				<span class='editText' id='noteValue_new'>Click here to add a note.</span>
			</p>
			{% endif %}
			
		{%- endif -%}
	</div>
	<!-- **********************Contexts******************* -->
	<div class='modalDivValue'>
		<span class='label label_contexts'>Context(s): </span>
		{%- if entries[e].languages[l].terms[t].contexts is defined -%}
			{%- set i = 0 -%}
			{%- for ctxt in entries[e].languages[l].terms[t].contexts -%}
				<div class='arrayFormat'>
					Context {{i + 1}}:
					<p class='arrayFormat'>
						Content: <span class='editText' id='ctxtValue_{{i}}_content'>{{ctxt.content}}</span>
					</p>
					<p class='arrayFormat'>
						Source: 
						<span class='editText' id='ctxtValue_{{i}}_source'>
						{%- if ctxt.source is defined -%}
							{{ctxt.source}}
						{%- else -%}
							{%- if is_granted('ROLE_STAFF') and no_edit == 'false' -%}
							Click here to add a source.
							{%- endif -%}
						{%- endif -%}
						</span>
					</p>					
				</div>
				{%- set i = i + 1 -%}
			{%- endfor -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
					New Context:
					<p class='arrayFormat'>
						Content: <span class='editText' id='ctxtValue_new_content'>Click here to add content.</span>
					</p>
					<p class='arrayFormat'>
						Source: <span class='editText' id='ctxtValue_new_source'>Click here to add a source.</span>
					</p>
					{% endif %}
				</div>
		{%- else -%}
			<div class='arrayFormat'>
				{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
				New Context:
				<p class='arrayFormat'>
					Content: <span class='editText' id='ctxtValue_new_content'>Click here to add content.</span>
				</p>
				<p class='arrayFormat'>
					Source: <span class='editText' id='ctxtValue_new_source'>Click here to add a source.</span>
				</p>
				{% endif %}
			</div>
		{%- endif -%}
	</div>
	<!-- **********************References******************* -->
	<div class='modalDivValue'>
		References:
		{%- if entries[e].languages[l].terms[t].references is defined -%}
			{%- set i = 0 -%}
			{%- for ref in entries[e].languages[l].terms[t].references -%}
				<div class='arrayFormat'>
					Reference {{i + 1}}:
						<span class='refContent' id='refValue_{{i}}_content_tig'>{{ref.content}}</span>
						<span id='refValue_{{i}}_content_tig_delete' class='noQueriesError' hidden>*Will be deleted if saved.*</span>
				</div>
				{%- set i = i + 1 -%}
			{%- endfor -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
					New Reference:
					<p class='arrayFormat'>
						<span class='editReference' id='refValue_new_content_tig'>Click here to add a reference.</span>
					</p>
					{% endif %}
				</div>
		{%- else -%}
			<div class='arrayFormat'>
				{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
				New Reference:
				<p class='arrayFormat'>
					<span class='editReference' id='refValue_new_content_tig'>Click here to add a reference.</span>
				</p>
				{% endif %}
			</div>
		{%- endif -%}
	</div>
	<!-- **********************External References******************* -->
	<div class='modalDivValue'>
		External References:
		{%- if entries[e].languages[l].terms[t].external_references is defined -%}
			{%- set i = 0 -%}
			{%- for ref in entries[e].languages[l].terms[t].external_references -%}
				<div class='arrayFormat'>
					External Reference {{i + 1}}:
						<span class='extRefContent' id='extRefValue_{{i}}_content_tig'>{{ref.content}}</span>
						<span id='extRefValue_{{i}}_content_tig_delete' class='noQueriesError' hidden>*Will be deleted if saved.*</span>
				</div>
				{%- set i = i + 1 -%}
			{%- endfor -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
					New External Reference:
					<p class='arrayFormat'>
						<span class='editExtRef' id='extRefValue_new_content_tig'>Click here to add a reference.</span>
					</p>
					{% endif %}
				</div>
		{%- else -%}
			<div class='arrayFormat'>
				{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
				New External Reference:
				<p class='arrayFormat'>
					<span class='editExtRef' id='extRefValue_new_content_tig'>Click here to add a reference.</span>
				</p>
				{% endif %}
			</div>
		{%- endif -%}
	</div>
	<!-- ************************SYNONYMS AND TRANSLATIONS******************** -->
	<div>
		<!-- <p class='synonymList'> -->
		<span class='label label_synonyms'>Synonyms: </span>
		{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
		<button type='button' onclick='addTerm({{e}},{{l}},{{t}},"synonym")' class='' href="{{path('entry_new_lang')}}">New Synonym</button>
		{% endif %}
		{% if entries[e].languages[l].terms|length > 1 %}
			<ul>
			{% set tigIndex = 0 %}
			{% for tig in entries[e].languages[l].terms %}
				{% if tig.term != entries[e].languages[l].terms[t].term %}
					{% set mid = '' %}
					{% if search_all == 'true' %}
						{% set mid = 'M_'~el~'_'~e~'_'~l~'_'~tigIndex~'_term' %}
					{% elseif search_all == 'false' %}
						{% set mid = 'M_'~e~'_'~l~'_'~tigIndex~'_term' %}
					{% endif %}
					<li id='{{mid}}' class='term_item'>{{tig.term}}</li>
				{% endif %}
				{% set tigIndex = tigIndex + 1 %}
			{% endfor %}
			</ul>	
		{% else %}
			<p>---</p>
		{% endif %}
		<!--</p>-->
		<!--<p class='translationList'>-->
		
		<span class='label label_translations'>Translations: </span>
		{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
		<button type='button' onclick='addTerm({{e}},{{l}},{{t}},"translation")' class='' href="{{path('entry_new_lang')}}">New Translation</button>
		{% endif %}
		{% if entries[e].languages|length > 1 %}
			<ul>
			{% set langIndex = 0 %}
			{% for lang in entries[e].languages %}
				{% if l != loop.index - 1 %}
					{% set tigIndex = 0 %}
					{% for tig in entries[e].languages[loop.index-1].terms %}
						{% set mid = '' %}
						{% if search_all == 'true' %}
							{% set mid = 'M_'~el~'_'~e~'_'~langIndex~'_'~tigIndex~'_term' %}
						{% elseif search_all == 'false' %}
							{% set mid = 'M_'~e~'_'~langIndex~'_'~tigIndex~'_term' %}
						{% endif %}
						<li id='{{mid}}' class='term_item'>{{tig.term}}</li>
						{% set tigIndex = tigIndex + 1 %}
					{% endfor %}
				{% endif %}
				{% set langIndex = langIndex + 1 %}
			{% endfor %}
			</ul>
		{% else %}
			<p>---</p>
		{% endif %}
		<!--</p>-->
	</div>
	<!-- **********************Transactions******************* -->
		<div class='modalDivValue'>
			Transactions:
			{%- if entries[e].languages[l].terms[t].transactions is defined -%}
				{%- set i = 0 -%}
				{%- for transac in entries[e].languages[l].terms[t].transactions -%}
					<div class='arrayFormat'>
						Transaction {{i + 1}}:
							<span>{{transac.person}}</span>---<span>{{transac.type}}</span>---<span>{%- if transac.date is defined -%}{{transac.date}}{%-endif-%}</span>
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}	
			{%- else -%}
				<div class='arrayFormat'>
					<span>No transactions to show.</span>
				</div>
			{%- endif -%}
		</div>
	<!-- **************Language SPECIFIC MATERIAL********************** -->
	<hr/><hr/>
	<div class='langDiv'>
		<span class='partition partition_langset'>Language Specific Values: </span><hr/>
		<!-- **********************Definitions******************* -->
		<div class='modalDivValue'>
			<span class='label label_definitions'>Definitions: </span>
			{%- if entries[e].languages[l].definitions is defined -%}
				{%- set i = 0 -%}
				{%- for def in entries[e].languages[l].definitions -%}
					<div class='arrayFormat'>
						Definition {{i + 1}}:
						<p class='arrayFormat'>
							Content: <span class='editText' id='defValue_{{i}}_content_langset'>{{def.content}}</span>
						</p>
						<p class='arrayFormat'>
							Source: 
							<span class='editText' id='defValue_{{i}}_source_langset'>
							{%- if def.source is defined -%}
								{{def.source}}
							{%- else -%}
								{%- if is_granted('ROLE_STAFF') and no_edit == 'false' -%}
								Click here to add a source.
								{%- endif -%}
							{%- endif -%}
							</span>
						</p>					
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}
					<div class='arrayFormat'>
						{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
						New Definition:
						<p class='arrayFormat'>
							Content: <span class='editText' id='defValue_new_content_langset'>Click here to add content.</span>
						</p>
						<p class='arrayFormat'>
							Source: <span class='editText' id='defValue_new_source_langset'>Click here to add a source.</span>
						</p>
						{% endif %}
					</div>
			{%- else -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
					New Definition:
					<p class='arrayFormat'>
						Content: <span class='editText' id='defValue_new_content_langset'>Click here to add content.</span>
					</p>
					<p class='arrayFormat'>
						Source: <span class='editText' id='defValue_new_source_langset'>Click here to add a source.</span>
					</p>
					{% endif %}
				</div>
			{%- endif -%}
		</div>
	</div>
	<!-- **********************Transactions******************* -->
		<div class='modalDivValue'>
			Transactions:
			{%- if entries[e].languages[l].transactions is defined -%}
				{%- set i = 0 -%}
				{%- for transac in entries[e].languages[l].transactions -%}
					<div class='arrayFormat'>
						Transaction {{i + 1}}:
							<span>{{transac.person}}</span>---<span>{{transac.type}}</span>---<span>{%- if transac.date is defined -%}{{transac.date}}{%-endif-%}</span>
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}	
			{%- else -%}
				<div class='arrayFormat'>
					<span>No transactions to show.</span>
				</div>
			{%- endif -%}
		</div>
	<!-- **************ENTRY SPECIFIC MATERIAL********************** -->
	<hr/><hr/>
	<div class='entryDiv'>
		<span class='partition partition_entry'>Entry Specific Values: </span><hr/>
		<!-- **********************Definitions******************* -->
		<div class='modalDivValue'>
			<span class='label label_definitions'>Definitions: </span>
			{%- if entries[e].definitions is defined -%}
				{%- set i = 0 -%}
				{%- for def in entries[e].definitions -%}
					<div class='arrayFormat'>
						Definition {{i + 1}}:
						<p class='arrayFormat'>
							Content: <span class='editText' id='defValue_{{i}}_content_termEntry'>{{def.content}}</span>
						</p>
						<p class='arrayFormat'>
							Source: 
							<span class='editText' id='defValue_{{i}}_source_termEntry'>
							{%- if def.source is defined -%}
								{{def.source}}
							{%- else -%}
								{%- if is_granted('ROLE_STAFF') and no_edit == 'false' -%}
								Click here to add a source.
								{%- endif -%}
							{%- endif -%}
							</span>
						</p>					
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}
					<div class='arrayFormat'>
						{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
						New Definition:
						<p class='arrayFormat'>
							Content: <span class='editText' id='defValue_new_content_termEntry'>Click here to add content.</span>
						</p>
						<p class='arrayFormat'>
							Source: <span class='editText' id='defValue_new_source_termEntry'>Click here to add a source.</span>
						</p>
						{% endif %}
					</div>
			{%- else -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
					New Definition:
					<p class='arrayFormat'>
						Content: <span class='editText' id='defValue_new_content_termEntry'>Click here to add content.</span>
					</p>
					<p class='arrayFormat'>
						Source: <span class='editText' id='defValue_new_source_termEntry'>Click here to add a source.</span>
					</p>
					{% endif %}
				</div>
			{%- endif -%}
		</div>
		<!-- **********************References******************* -->
		<div class='modalDivValue'>
			References:
			{%- if entries[e].references is defined -%}
				{%- set i = 0 -%}
				{%- for ref in entries[e].references -%}
					<div class='arrayFormat'>
						Reference {{i + 1}}:
							<span class='refContent' id='refValue_{{i}}_content_termEntry'>{{ref.content}}</span>
							<span id='refValue_{{i}}_content_termEntry_delete' class='noQueriesError' hidden>*Will be deleted if saved.*</span>
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}
					<div class='arrayFormat'>
						{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
						New Reference:
						<p class='arrayFormat'>
							<span class='editReference' id='refValue_new_content_termEntry'>Click here to add a reference.</span>
						</p>
						{% endif %}
					</div>
			{%- else -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
					New Reference:
					<p class='arrayFormat'>
						<span class='editReference' id='refValue_new_content_termEntry'>Click here to add a reference.</span>
					</p>
					{% endif %}
				</div>
			{%- endif -%}
		</div>
		<!-- **********************External References******************* -->
		<div class='modalDivValue'>
			External References:
			{%- if entries[e].external_references is defined -%}
				{%- set i = 0 -%}
				{%- for ref in entries[e].external_references -%}
					<div class='arrayFormat'>
						External Reference {{i + 1}}:
							<span class='extRefContent' id='extRefValue_{{i}}_content_termEntry'>{{ref.content}}</span>
							<span id='extRefValue_{{i}}_content_termEntry_delete' class='noQueriesError' hidden>*Will be deleted if saved.*</span>
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}
					<div class='arrayFormat'>
						{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
						New External Reference:
						<p class='arrayFormat'>
							<span class='editExtRef' id='extRefValue_new_content_termEntry'>Click here to add a reference.</span>
						</p>
						{% endif %}
					</div>
			{%- else -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
					New External Reference:
					<p class='arrayFormat'>
						<span class='editExtRef' id='extRefValue_new_content_termEntry'>Click here to add a reference.</span>
					</p>
					{% endif %}
				</div>
			{%- endif -%}
		</div>
		<!-- **********************Transactions******************* -->
		<div class='modalDivValue'>
			Transactions:
			{%- if entries[e].transactions is defined -%}
				{%- set i = 0 -%}
				{%- for transac in entries[e].transactions -%}
					<div class='arrayFormat'>
						Transaction {{i + 1}}:
							<span>{{transac.person}}</span>---<span>{{transac.type}}</span>---<span>{%- if transac.date is defined -%}{{transac.date}}{%-endif-%}</span>
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}	
			{%- else -%}
				<div class='arrayFormat'>
					<span>No transactions to show.</span>
				</div>
			{%- endif -%}
		</div>
		<!-- **********************Images******************* -->
		<div class='modalDivValue'>
			Images:
			{%- if entries[e].images is defined -%}
				{%- set i = 0 -%}
				{%- for img in entries[e].images -%}
					<div class='arrayFormat'>
						Image {{i + 1}}:
							<span class='imgContent' id='imgValue_{{i}}_content_termEntry'>{{img.content}}</span>
							<span id='imgValue_{{i}}_content_termEntry_delete' class='noQueriesError' hidden>*Will be deleted if saved.*</span>
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}
					<div class='arrayFormat'>
						{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
						New Image:
						<p class='arrayFormat'>
							<span class='editImgRef' id='imgValue_new_content_termEntry'>Click here to add a reference.</span>
						</p>
						{% endif %}
					</div>
			{%- else -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_STAFF') and no_edit == 'false' %}
					New Image:
					<p class='arrayFormat'>
						<span class='editImgRef' id='imgValue_new_content_termEntry'>Click here to add a reference.</span>
					</p>
					{% endif %}
				</div>
			{%- endif -%}
		</div>
	</div>
	{% if is_granted('ROLE_ADMIN') and no_edit == 'false' %}
		<div class='deleteButtonDiv'>
			<button class='deleteEntryButtonL delButton' onclick="deleteModalButton_pressed('{{e}}');">Delete Entry</button>
		</div>
		<div class='deleteTermDiv'>
			<button class='deleteTermButtonL delButton' onclick="deleteTermModalButton_pressed('{{e}}','{{l}}','{{t}}');">Delete Term</button>
		</div>
	{% endif %}
	<div class='shrinkButtonDiv'>
		<button class='shrinkButton' onclick='shrinkModalButton_pressed()'>Fewer Details</button>
	</div>
</div>
<script type='text/javascript'>
$(function(){
	
	{% if search_all == 'false' %}
		if (typeof entries[{{e}}].languages[{{l}}].terms[{{t}}].geo != 'undefined')
		{
			$('#geoValue_{{e}}_{{l}}_{{t}}_L').text(
				regionCodeValueList[entries[{{e}}].languages[{{l}}].terms[{{t}}].geo]
			);
		}
		else $('#geoValue_{{e}}_{{l}}_{{t}}_L').text('---');
	{% elseif search_all == 'true' %}
		if (typeof entries_list[{{el}}][{{e}}].languages[{{l}}].terms[{{t}}].geo != 'undefined')
		{
			$('#geoValue_{{e}}_{{l}}_{{t}}_L').text(
				regionCodeValueList[entries_list[{{el}}][{{e}}].languages[{{l}}].terms[{{t}}].geo]
			);
		}
		else $('#geoValue_{{e}}_{{l}}_{{t}}_L').text('---');
		$('.delButton').hide();
	{% endif %}

});
</script>
{% endblock %}