{% extends 'modals.html.twig' %}

{% block div %}
<div class='modalDiv' id='div_{{e}}_{{l}}_{{t}}_L'/>
	<!-- ************************TERM ENTRY************************* -->
	<div class='modalDivValue'>
		<p>
		Term: <span class='editText' id='termValue_{{e}}_{{l}}_{{t}}_L'>{{entries[e].languages[l].terms[t].term}}</span>
		</p>
	</div>
	<!-- ************************TERM STATUS************************* -->
	<div class='modalDivValue'>
		<p>
		Approval: 
		<span class='editList' id='statusValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].languages[l].terms[t].status is defined -%}
			{%- if entries[e].languages[l].terms[t].status == "preferredTerm-admn-sts" -%}
				Preferred
			{%- elseif entries[e].languages[l].terms[t].status == "admittedTerm-admn-sts" -%}
				Admitted
			{%- elseif entries[e].languages[l].terms[t].status == "deprecatedTerm-admn-sts" -%}
				Deprecated
			{%- elseif entries[e].languages[l].terms[t].status == "supersededTerm-admn-sts" -%}
				Superseded
			{%- else -%}
				{{entries[e].languages[l].terms[t].status}}
			{%- endif -%}
		{%- else -%}
			---
		{%- endif -%}
		</span>
		</p>
	</div>
	<!-- ************************PART OF SPEECH************************* -->
	<div class='modalDivValue'>
		<p>
		Part of Speech: 
		<span class='editList' id='posValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].languages[l].terms[t].pos is defined -%}
			{%- if entries[e].languages[l].terms[t].pos == "noun" -%}
				Noun
			{%- elseif entries[e].languages[l].terms[t].pos == "verb" -%}
				Verb
			{%- elseif entries[e].languages[l].terms[t].pos == "adjective" -%}
				Adjective
			{%- elseif entries[e].languages[l].terms[t].pos == "adverb" -%}
				Adverb
			{%- elseif entries[e].languages[l].terms[t].pos == "properNoun" -%}
				Proper Noun
			{%- elseif entries[e].languages[l].terms[t].pos == "other" -%}
				Other
			{%- else -%}
				{{entries[e].languages[l].terms[t].pos}}
			{%- endif -%}	
		{%- else -%}
			---
		{%- endif -%}
		</span>
		</p>
	</div>
	<!-- ************************GENDER************************* -->
	<div class='modalDivValue'>
		<p>
		Gender: 
		<span class='editList' id='genderValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].languages[l].terms[t].gender is defined -%}
			{%- if entries[e].languages[l].terms[t].gender == "masculine" -%}
				Masculine
			{%- elseif entries[e].languages[l].terms[t].gender == "feminine" -%}
				Feminine
			{%- elseif entries[e].languages[l].terms[t].gender == "neuter" -%}
				Neuter
			{%- elseif entries[e].languages[l].terms[t].gender == "other" -%}
				Other
			{%- else -%}
				{{entries[e].languages[l].terms[t].gender}}
			{%- endif -%}
		{%- else -%}
			---
		{%- endif -%}
		</span>
		</p>
	</div>
	<!-- ************************SUBJECT FIELD************************* -->
	<div class='modalDivValue'>
		<p>
		Subject Field:
		<span class='editText' id='subjectValue_{{e}}_{{l}}_{{t}}_L'>
		{%- if entries[e].subject_field is defined -%}
			{{entries[e].subject_field}}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<!-- ************************PROJECTS************************* -->
	<div class='modalDivValue'>
		Projects:
		{%- if entries[e].languages[l].terms[t].projects is defined -%}
			{%- set i = 0 -%}
			{%- for project in entries[e].languages[l].terms[t].projects -%}
				<p class='arrayFormat'>
					Project {{i + 1}}:
					<span class='editText' id='projectValue_{{i}}'>{{project}}</span>
				</p>
				{%- set i = i + 1 -%}
			{%- endfor -%}
			{% if is_granted('ROLE_ADMIN') %}
				<p class='arrayFormat'>
					New Project:
					<span class='editText' id='projectValue_new'>Click here to add a project.</span>
				</p>
			{% endif %}
		{%- else -%}
			{% if is_granted('ROLE_ADMIN') %}
			<p class='arrayFormat'>
				New Project:
				<span class='editText' id='projectValue_new'>Click here to add a project.</span>
			</p>
			{% endif %}
		{%- endif -%}
	</div>
	<!-- ************************NOTES************************* -->
	<div class='modalDivValue'>
		Notes:
		{%- if entries[e].notes is defined -%}
			{%- set i = 0 -%}
			{%- for note in entries[e].notes -%}
				<p class='arrayFormat'>
					Note {{i + 1}}:
					<span class='editText' id='noteValue_{{i}}'>{{note}}</span>
				</p>
				{%- set i = i + 1 -%}
			{%- endfor -%}
				{% if is_granted('ROLE_ADMIN') %}
				<p class='arrayFormat'>
					New Note:
					<span class='editText' id='noteValue_new'>Click here to add a note.</span>
				</p>
				{% endif %}
		{%- else -%}
			{% if is_granted('ROLE_ADMIN') %}
			<p class='arrayFormat'>
				New Note:
				<span class='editText' id='noteValue_new'>Click here to add a note.</span>
			</p>
			{% endif %}
			
		{%- endif -%}
	</div>
	<!-- ************************SYNONYMS AND TRANSLATIONS******************** -->
	<div>
		<p class='synonymList'>
		Synonyms:
		
		{% if entries[e].languages[l].terms|length > 1 %}
			<ul>
			{% for tig in entries[e].languages[l].terms %}
				{% if tig.term != entries[e].languages[l].terms[t].term %}
					<li>{{tig.term}}</li>
				{% endif %}
			{% endfor %}
			</ul>	
		{% else %}
			---
		{% endif %}
		</p>	
		<p class='translationList'>
		
		Translations:
		
		{% if entries[e].languages|length > 1 %}
			<ul>
			{% for lang in entries[e].languages %}
				{% if l != loop.index - 1 %}
					{% for tig in entries[e].languages[loop.index-1].terms %}
						<li>{{tig.term}}</li>
					{% endfor %}
				{% endif %}
			{% endfor %}
			</ul>
		{% else %}
			--- 
		{% endif %}
		</p>
	</div>
	<!-- **************ENTRY SPECIFIC MATERIAL********************** -->
	<div class='entryDiv'>
		Entry Specific Values:
		<!-- **********************Definitions******************* -->
		<div class='modalDivValue'>
			Definitions:
			{%- if entries[e].definitions is defined -%}
				{%- set i = 0 -%}
				{%- for def in entries[e].definitions -%}
					<div class='arrayFormat'>
						Definition {{i + 1}}:
						<p class='arrayFormat'>
							Content: <span class='editText' id='defValue_{{i}}_content'>{{def.content}}</span>
						</p>
						<p class='arrayFormat'>
							Source: 
							<span class='editText' id='defValue_{{i}}_source'>
							{%- if def.source is defined -%}
								{{def.source}}
							{%- else -%}
								{% if is_granted('ROLE_ADMIN') %}
								Click here to add a source.
								{% endif %}
							{%- endif -%}
							</span>
						</p>					
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}
					<div class='arrayFormat'>
						{% if is_granted('ROLE_ADMIN') %}
						New Definition:
						<p class='arrayFormat'>
							Content: <span class='editText' id='defValue_new_content'>Click here to add content.</span>
						</p>
						<p class='arrayFormat'>
							Source: <span class='editText' id='defValue_new_source'>Click here to add a source.</span>
						</p>
						{% endif %}
					</div>
			{%- else -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_ADMIN') %}
					New Definition:
					<p class='arrayFormat'>
						Content: <span class='editText' id='defValue_new_content'>Click here to add content.</span>
					</p>
					<p class='arrayFormat'>
						Source: <span class='editText' id='defValue_new_source'>Click here to add a source.</span>
					</p>
					{% endif %}
				</div>
			{%- endif -%}
		</div>
		<!-- **********************References******************* -->
		<div class='modalDivValue'>
			References:
			{%- if entries[e].references is defined -%}
				{%- set i = 0 -%}
				{%- for ref in entries[e].references -%}
					<div class='arrayFormat'>
						Reference {{i + 1}}:
						<p class='arrayFormat'>
							Content: <span class='editText' id='refContentValue_{{i}}'>{{ref.content}}</span>
						</p>
						<p class='arrayFormat'>
							Source: 
							<span class='editText' id='refSourceValue_{{i}}'>
							{%- if ref.source is defined -%}
								{{ref.source}}
							{%- else -%}
								{% if is_granted('ROLE_ADMIN') %}
								Click here to add a source.
								{% endif %}
							{%- endif -%}
							</span>
						</p>
						
					</div>
					{%- set i = i + 1 -%}
				{%- endfor -%}
					<div class='arrayFormat'>
						{% if is_granted('ROLE_ADMIN') %}
						New Reference:
						<p class='arrayFormat'>
							Content: <span class='editText' id='refContentValue_new'>Click here to add content.</span>
						</p>
						<p class='arrayFormat'>
							Source: <span class='editText' id='refSourceValue_new'>Click here to add a source.</span>
						</p>
						{% endif %}
					</div>
			{%- else -%}
				<div class='arrayFormat'>
					{% if is_granted('ROLE_ADMIN') %}
					New Reference:
					<p class='arrayFormat'>
						Content: <span class='editText' id='refContentValue_new'>Click here to add content.</span>
					</p>
					<p class='arrayFormat'>
						Source: <span class='editText' id='refSourceValue_new'>Click here to add a source.</span>
					</p>	
					{% endif %}
				</div>
			{%- endif -%}
		</div>
		<!-- **********************Transactions******************* -->
		<div class='modalDivValue'>
	
		</div>
		<!-- **********************Images******************* -->
		<div class='modalDivValue'>
	
		</div>
	{% if is_granted('ROLE_ADMIN') %}
		<div class='deleteButtonDiv'>
			<button class='deleteEntryButtonL' onclick="deleteModalButton_pressed('{{e}}');">Delete Entry</button>
		</div>
	{% endif %}
	<div class='shrinkButtonDiv'>
		<button class='shrinkButton' onclick='shrinkModalButton_pressed()'>Fewer Details</button>
	</div>
</div>
{% endblock %}
