{% extends 'modals.html.twig' %}

{% block div %}
<div class='modalDiv' id='div_{{e}}_{{l}}_{{t}}'>
	<!-- ************************TERM ENTRY************************* -->
	<div class='modalDivValue infoContainer'>
		<span class='label label_term'>Term: </span><span class='editText value_term' id='termValue_{{e}}_{{l}}_{{t}}'>{{entries[e].languages[l].terms[t].term}}</span>
	</div>
	<!-- ************************TERM STATUS************************* -->
	<div class='modalDivValue'>
		<span class='label label_approval'>Approval: </span>
		<span class='editList value_approval' id='statusValue_{{e}}_{{l}}_{{t}}'>
		{%- if entries[e].languages[l].terms[t].status is defined -%}
			{%- if entries[e].languages[l].terms[t].status == "preferredTerm-admn-sts" -%}
				Preferred
			{%- elseif entries[e].languages[l].terms[t].status == "admittedTerm-admn-sts" -%}
				Admitted
			{%- elseif entries[e].languages[l].terms[t].status == "deprecatedTerm-admn-sts" -%}
				Deprecated
			{%- elseif entries[e].languages[l].terms[t].status == "supersededTerm-admn-sts" -%}
				Superseded
			{%- else -%}
				{{entries[e].languages[l].terms[t].status}}
			{%- endif -%}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<!-- ************************PART OF SPEECH************************* -->
	<div class='modalDivValue'>
		<span class='label label_pos'>Part of Speech: </span>
		<span class='editList value_pos' id='posValue_{{e}}_{{l}}_{{t}}'>
		{%- if entries[e].languages[l].terms[t].pos is defined -%}
			{%- if entries[e].languages[l].terms[t].pos == "noun" -%}
				Noun
			{%- elseif entries[e].languages[l].terms[t].pos == "verb" -%}
				Verb
			{%- elseif entries[e].languages[l].terms[t].pos == "adjective" -%}
				Adjective
			{%- elseif entries[e].languages[l].terms[t].pos == "adverb" -%}
				Adverb
			{%- elseif entries[e].languages[l].terms[t].pos == "properNoun" -%}
				Proper Noun
			{%- elseif entries[e].languages[l].terms[t].pos == "other" -%}
				Other
			{%- else -%}
				{{entries[e].languages[l].terms[t].pos}}
			{%- endif -%}
			
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<!-- ************************GENDER************************* -->
	<div class='modalDivValue'>
		<span class='label label_gender'>Gender: </span>
		<span class='editList value_gender' id='genderValue_{{e}}_{{l}}_{{t}}'>
		{%- if entries[e].languages[l].terms[t].gender is defined -%}
			{%- if entries[e].languages[l].terms[t].gender == "masculine" -%}
				Masculine
			{%- elseif entries[e].languages[l].terms[t].gender == "feminine" -%}
				Feminine
			{%- elseif entries[e].languages[l].terms[t].gender == "neuter" -%}
				Neuter
			{%- elseif entries[e].languages[l].terms[t].gender == "other" -%}
				Other
			{%- else -%}
				{{entries[e].languages[l].terms[t].gender}}
			{%- endif -%}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<!-- ************************GEOGRAPHIC REGION************************* -->
	<div class='modalDivValue'>
		<span class='label label_geo'>Region: </span>
		<span class='editGeo value_geo' id='geoValue_{{e}}_{{l}}_{{t}}'></span>
	</div>
	<!-- ************************SUBJECT FIELD************************* -->
	<div class='modalDivValue'>
		<span class='label label_subject'>Subject Field: </span>
		<span class='editText value_gender' id='subjectValue_{{e}}_{{l}}_{{t}}'>
		{%- if entries[e].subject_field is defined -%}
			{{entries[e].subject_field}}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<button class='deleteEntryButton' onclick="deleteModalButton_pressed('{{e}}')">Delete Entry</button>
		<button class='deleteTermButton' onclick="deleteTermModalButton_pressed('{{e}}','{{l}}','{{t}}');">Delete Term</button>
	{% endif %}
	<button class='expandButton' onclick='expandModalButton_pressed()'>More Details</button>
</div>
<script type='text/javascript'>
$(function(){
	{% if search_all == 'false' %}
		if (typeof entries[{{e}}].languages[{{l}}].terms[{{t}}].geo != 'undefined')
		{
			$('#geoValue_{{e}}_{{l}}_{{t}}').text(
				regionCodeValueList[entries[{{e}}].languages[{{l}}].terms[{{t}}].geo]
			);
		}
		else $('#geoValue_{{e}}_{{l}}_{{t}}').text('---');
	{% elseif search_all == 'true' %}
		if (typeof entries_list[{{el}}][{{e}}].languages[{{l}}].terms[{{t}}].geo != 'undefined')
		{	
			$('#geoValue_{{e}}_{{l}}_{{t}}').text(
				regionCodeValueList[entries_list[{{el}}][{{e}}].languages[{{l}}].terms[{{t}}].geo]
			);
		}
		else $('#geoValue_{{e}}_{{l}}_{{t}}').text('---');
	{% endif %}
});
</script>
{% endblock %}

