{% extends 'modals.html.twig' %}

{% block div %}
<div class='modalDiv' id='div_{{e}}_{{l}}_{{t}}'/>
	<!-- ************************TERM ENTRY************************* -->
	<div class='modalDivValue'>
		<p>
		Term: <span class='editText' id='termValue_{{e}}_{{l}}_{{t}}'>{{entries[e].languages[l].terms[t].term}}</span>
		</p>
	</div>
	<!-- ************************TERM STATUS************************* -->
	<div class='modalDivValue'>
		<p>
		Approval: 
		<span class='editList' id='statusValue_{{e}}_{{l}}_{{t}}'>
		{%- if entries[e].languages[l].terms[t].status is defined -%}
			{%- if entries[e].languages[l].terms[t].status == "preferredTerm-admn-sts" -%}
				Preferred
			{%- elseif entries[e].languages[l].terms[t].status == "admittedTerm-admn-sts" -%}
				Admitted
			{%- elseif entries[e].languages[l].terms[t].status == "deprecatedTerm-admn-sts" -%}
				Deprecated
			{%- elseif entries[e].languages[l].terms[t].status == "supersededTerm-admn-sts" -%}
				Superseded
			{%- else -%}
				{{entries[e].languages[l].terms[t].status}}
			{%- endif -%}
		{%- else -%}
			---
		{%- endif -%}
		</span>
		</p>
	</div>
	<!-- ************************PART OF SPEECH************************* -->
	<div class='modalDivValue'>
		<p>
		Part of Speech: 
		<span class='editList' id='posValue_{{e}}_{{l}}_{{t}}'>
		{%- if entries[e].languages[l].terms[t].pos is defined -%}
			{%- if entries[e].languages[l].terms[t].pos == "noun" -%}
				Noun
			{%- elseif entries[e].languages[l].terms[t].pos == "verb" -%}
				Verb
			{%- elseif entries[e].languages[l].terms[t].pos == "adjective" -%}
				Adjective
			{%- elseif entries[e].languages[l].terms[t].pos == "adverb" -%}
				Adverb
			{%- elseif entries[e].languages[l].terms[t].pos == "properNoun" -%}
				Proper Noun
			{%- elseif entries[e].languages[l].terms[t].pos == "other" -%}
				Other
			{%- else -%}
				{{entries[e].languages[l].terms[t].pos}}
			{%- endif -%}
			
		{%- else -%}
			---
		{%- endif -%}
		</span>
		</p>
	</div>
	<!-- ************************GENDER************************* -->
	<div class='modalDivValue'>
		<p>
		Gender: 
		<span class='editList' id='genderValue_{{e}}_{{l}}_{{t}}'>
		{%- if entries[e].languages[l].terms[t].gender is defined -%}
			{%- if entries[e].languages[l].terms[t].gender == "masculine" -%}
				Masculine
			{%- elseif entries[e].languages[l].terms[t].gender == "feminine" -%}
				Feminine
			{%- elseif entries[e].languages[l].terms[t].gender == "neuter" -%}
				Neuter
			{%- elseif entries[e].languages[l].terms[t].gender == "other" -%}
				Other
			{%- else -%}
				{{entries[e].languages[l].terms[t].gender}}
			{%- endif -%}
		{%- else -%}
			---
		{%- endif -%}
		</span>
		</p>
	</div>
	<!-- ************************SUBJECT FIELD************************* -->
	<div class='modalDivValue'>
		<p>
		Subject Field:
		<span class='editText' id='subjectValue_{{e}}_{{l}}_{{t}}'>
		{%- if entries[e].subject_field is defined -%}
			{{entries[e].subject_field}}
		{%- else -%}
			---
		{%- endif -%}
		</span>
	</div>
	<button class='expandButton' onclick='expandModalButton_pressed()'>More Details</button>
	
	
	
<!--var windowContent = $('<div></div>');
		//window items
		var expandButton = $('<button></button>');
		expandButton.attr('class', 'expandButton');
		
		expandButton.text('More Details');
		windowContent.append(expandButton);
		
		//TERM RELATED ITEMS
		//pos
		var posDiv = $('<div></div>');
		posDiv.attr('class', 'modalInfoBox');
		var pos = $('<p></p>');
		pos.text('Part of Speech: '+entries[e]['languages'][l]['terms'][t]['pos']);
		posDiv.append(pos);
		windowContent.append(posDiv);
		
		expandButton.attr('onClick', 'expandModalButton_pressed('+JSON.stringify(windowContent)+')');
		
		var languageCode = $('<p></p>');
		languageCode.text('Language Code: '+entries[e]['languages'][l]['code']);
		windowContent.append(languageCode);-->

</div>		
{% endblock %}

